<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn - ThinkForge</title>
</head>
<body>

    {{ if not .ShowIntro }}

    <h1>Welcome to ThinkForge</h1>
    <h2>I'm Forge, your mentor.</h2>
    <p>Before we begin, let's get to know you.</p>

   <form action="/learn" method="POST">
        <label for="name">What is your name?</label>

        <input
            type="text"
            id="name"
            name="learnerName"
            placeholder="Your name..."
        >

        <button type="submit">Let's Go!</button>
    </form>

    {{ end }}

  {{ if .ShowIntro }}

    <h1>Hello {{ .Name }}, welcome to ThinkForge! 👋</h1>

    {{ if .ShowChallenge }}

<p>Before Lesson 1 begins, I'd like you to solve a little riddle.</p>

<h2>{{ .Challenge.Question }}</h2>

<form action="/learn" method="POST">

    <input type="hidden" name="learnerName" value="{{ .Name }}">

    <label>
        <input type="radio" name="answer" value="0">
        Kerosene lamp
    </label>

    <br>

    <label>
        <input type="radio" name="answer" value="1">
        Wood-burning stove
    </label>

    <br>

    <label>
        <input type="radio" name="answer" value="2">
        Wax candle
    </label>

    <br>

    <label>
        <input type="radio" name="answer" value="3">
        None above
    </label>

    <br><br>

    <button type="submit">Submit Answer</button>

</form>

{{ end }}

{{ if .Feedback }}
    <h2>{{ .Feedback }}</h2>

    <p>Ready for Lesson 1?</p>

    <form action="/lesson1" method="GET">
        <button type="submit">Start Lesson 1</button>
    </form>
{{ end }}

{{ end }}
</body>
</html>